body {
    /*cor de fundo */
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 14%, rgba(253, 107, 29, 1) 67%, rgba(219, 1, 1, 1) 99%);

}

.login {
    position: relative;
    z-index: 1;
    background: #2d0246;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}

.login input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: 0;
    background: #f0eaea;
    width: 100%;
    border: 0;
    margin-top:  20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;

}

.login button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #0b420b;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;



}
.login img {
    height: 300px;
    width: 60%;
   margin-left: 20%;

}
